*.swp
*.pyc
*.pyo
*.db
*.log
*.mo
*.bat
._*
*.*~
venv/
.vscode/
dist/
build/
shareplum.egg-info/
docs/_build/
env
.idea
.mypy_cache
*.egg-info
pip-wheel-metadata/
__pycache__
tests/test_private*
.DS_Store
