alabaster==0.7.12
decorator==4.4.1
defusedxml==0.6.0
docutils==0.16
jsonschema==3.2.0
livereload==2.6.1
lxml==4.5.0
MarkupSafe==1.1.1
path.py==12.4.0
pathtools==0.1.2
port-for==0.4
pyasn1==0.4.8
pyparsing==2.4.6
python-dateutil==2.8.1
python-ntlm3==1.0.2
pytz==2019.3
pyzmq==18.1.1
requests==2.22.0
requests-ntlm==1.1.0
requests-toolbelt==0.9.1
simplegeneric==0.8.1
six==1.14.0
snowballstemmer==2.0.0
Sphinx==2.3.1
typing==3.7.4.1
