certifi==2019.11.28
cffi==1.14.0
chardet==3.0.4
cryptography==3.3.2
idna==2.9
lxml==4.9.1
ntlm-auth==1.4.0
pycparser==2.20
requests==2.23.0
requests-ntlm==1.1.0
requests-toolbelt==0.9.1
SharePlum==0.4.2
six==1.14.0
urllib3==1.26.5